body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181a1b; /* Set the background to black */
  color: #e4e4e4; /* Optional: Adjust text color for readability */
}